@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

input[type="text"],
input[type="assignment"],
input[type="email"] {
  width: 95%;
  padding: 7px;
  margin: 2px 0 10px 0;
  display: inline-block;
  /*border: groove;*/
  /*background: #f1f1f1;*/
}

input[type="date"] {
  width: 70%;
  padding: 7px;
  margin: 2px 0 10px 0;
  display: inline-block;
  /*border: groove;*/
}

select {
  outline: 0;
  /*background: #f1f1f1;*/
  background-image: none;
  width: 40%;
  height: 100%;
  color: black;
  cursor: pointer;
  /*border: groove;*/
}

.select {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  padding-bottom: 10px;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 64px;
  width: 100%;
  background: #04177e;
  top: 0;
  left: 0;
  position: absolute;
}

.nav a {
  color: white;
  padding: 25px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

#logo {
  font-family: "Fredoka One", cursive;
  font-size: 1.5rem;
  padding: 50px;
}

#textBox {
  width: 350px;
}

#emails {
  height: 200px;
  width: 350px;
}

textarea.html-text-box {
  background-color:#ffffff;
  background-image:url(http://);
  background-repeat:no-repeat;
  background-attachment:fixed;
  border-width:1;border-style:solid;
  border-color:#000033;
  font-family:Times;
  font-size:12pt;
  color:#000000;
  width: 350px;
}
  
input.html-text-box {background-color:#ffffff;
  font-family:Times;
  font-size:12pt;
  color:#000000;}


b {
  position: relative;
  top: 65px;
  left: 0px;
}

button {
  height: px;
  border-radius: 50px;
  outline: none;
  color: white;
  background-color: #04177e;
  cursor: pointer;
}
