<!doctype html>

<html>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  </style>


  <body>


    <button onclick="window.location.href='logout.html';" class = "adminLogout">Logout</button>

    <!-- header -->
    <h1>Admin Dashboard</h1>

    <!-- Modify for DB access -->
    <form action="" method="POST">
      <select name="selectEvent" id="openEvents" required>
        <option  value="" selected disabled>Select an event to view details...</option>
        <option value="HW00">HW00</option>
        <option value="HW01">HW01</option>
        <option value="Programming Competition">Programming Competition</option>
      </select>
      <button type="" method="POST">View</button>      
    </form>

    <br><br>

    <p>[Display details after an event is selected.]</p>
    
    <table>
      <tr>
        <th>Event Name</th>
        <td>Selected Event</td>
      </tr>
      <tr>
        <th>Start Date</th>
        <td>01/01/3000</td>
      </tr>
      <tr>
        <th>End Date</th>
        <td>01/02/3000</td>
      </tr>
      <tr>
        <th>Team Size</th>
        <td>3</td>
      </tr>
      <tr>
        <th>Assignment Name</th>
        <td>Topic00</td>
      </tr>
      <tr>
        <th>Test Case(s)</th>
        <td>[Files]</td>
      </tr>
      <tr>
        <th>Grade Case(s)</th>
        <td>[Files]</td>
      </tr>      

    </table>  
    <br>

    <br>
    <table>
      <tr>
        <th>Token ID</th>
        <th>Student Email</th>

      </tr>
      <tr>
        <td>TokenID00</td>
        <td>student00@csuci.edu</td>
      </tr>

      <tr>
        <td>TokenID01</td>
        <td>student01@csuci.edu</td>
      </tr>

    </table>  
    <br>


    <!-- Modify Event button -->
    <button onclick="window.location.href='eventMod.html';" class="modEvent">Modify Open Event</button>

    <!-- Modify event button -->
    <button onclick="window.location.href='eventCreation.html';" class="newEvent">Register New Event</button>


  </body>
</html>
